.ui.card,
.ui.card:last-child,
.ui.card:first-child {
    margin: 10px 10px;
    padding: 10px;
}

.campaign-name-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
    .ui.grid {
        justify-content: center;
    }
}

